{% extends 'base.html.twig' %}

{% block body %}
    <div class="flex flex-col justify-evenly content-wrapper w-2/3 h-4/6 shadow-2xl px-14 rounded-3xl bg-[#4e4d4d]">
        <div class="top-app flex justify-between">
            <p class="text-lg font-bold">Liste des contacts</p>
            <div class="search-bar flex justify-evenly">
                <input type="text" class="w-2/3 border-2 border-gray-500 rounded bg-[#ebebeb]" placeholder="Rechercher">
                <button class="w-1/3 bg-[#003366] hover:bg-[#1c5186] text-white rounded mx-2 ease-in-out duration-150 hover:scale-110">Rechercher</button>
            </div>
        </div>
        <div class="h-3/4 w-full border-2 border-gray-500 bg-[#ebebeb] overflow-auto p-4 scrollbar">
        {% for contact in contactList %}
            {% include "Contact/contact.html.twig" %}
        {% endfor %}
        </div>
        <div class="buttons flex justify-end mx-4 ">
            <a href="{{ path('add') }}" class="bg-[#003366] hover:bg-[#1c5186] text-white rounded px-3 py-0.5 ease-in-out duration-150 hover:scale-110"> Ajouter </a>
        </div>
    </div>
{% endblock %}


